@model coreModel.Duty

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Duty</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DutyDefinition" class="control-label"></label>
                <input asp-for="DutyDefinition" class="form-control" />
                <span asp-validation-for="DutyDefinition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DutyName" class="control-label"></label>
                <input asp-for="DutyName" class="form-control" />
                <span asp-validation-for="DutyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DutyPoint" class="control-label"></label>
                <input asp-for="DutyPoint" class="form-control" />
                <span asp-validation-for="DutyPoint" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
