@model coreModel.Project

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Project</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProjectsName" class="control-label"></label>
                <input asp-for="ProjectsName" class="form-control" />
                <span asp-validation-for="ProjectsName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateofStart" class="control-label"></label>
                <input asp-for="DateofStart" class="form-control" />
                <span asp-validation-for="DateofStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateofEnd" class="control-label"></label>
                <input asp-for="DateofEnd" class="form-control" />
                <span asp-validation-for="DateofEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DutyID" class="control-label"></label>
                <input asp-for="DutyID" class="form-control" />
                <span asp-validation-for="DutyID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
